{% extends 'base.html' %}
{% load static %}
{% block page_header %}
{% include "includes/advert_header.html" with advert="Receive a discount when registering a group for a workshop!" %}
</div>
{% endblock %}
{% block content %}
{% include "includes/cover.html" %}
{% load crispy_forms_tags %}
</div>
<section>
    <div class="row bg-white d-flex w-100 mx-auto">
        <!--The if statement checks if the email message has already been sent, if it has the below message will display-->
        <div class="row align-items-center">
            <div class="col-12 mt-5">
                <div class="col-sm-6 col-12 mx-auto advert-background px-5 pt-5 pb-5 mb-5">
                    <h2 class="bolder">Email successfully sent</h2>
                    <h2>Your request was successfully sent to us!</h2>
                </div>
            </div>
        </div>
</section>
<div class="footer-background-color w-100">
    {% endblock %}