{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div id="delivery-banner" class="row text-center d-flex w-100 mx-auto">
    <div class="col advert-banner-background text-white">
        <h4 class="logo-font my-1">Receive a discount when registering a group for a workshop!</h4>
    </div>
</div>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row w-100">
    <div class="col-6"></div>
    <div class="col-sm-6 col-12">
        <div class="row spacer"></div>
        <div class="width-define">
            <div class="row background-overlay mx-3 my-3 ml-5">
                <h1 class="cover-heading inline mt-5 mr-5 text-sm-right text-center">Belle Musique Studio</h1>
                <p class="lead mb-5 mr-5 text-sm-right text-center">No matter where we find ourselves, let's always keep in touch</p>
            </div>
        </div>
        <div class="row spacer"></div>
    </div>
</div>
</div>
<section>
    <div class="row bg-white d-flex w-100 mx-auto">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="mx-auto pl-3">
                    <h2 class="font-weight-bold text-center mt-5">Require assistance?</h2>
                    <h2 class="lead text-center">Please get in touch!</h2>
                </div>
                <div class="col-sm-6 advert-background px-sm-5 pb-2 mx-3 my-3 mx-sm-auto ">
                    <form method="post" class="mt-5">
                        {% csrf_token %}
                        <div class="form-row px-3 py-3">
                            <div class="form-group col-md-6 mb-0 text-form">
                                <!--if the user is logged in the name will be auto-completed from the username-->
                                {{ contact_form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0 text-form">
                                <!--if the user is logged in the email will be auto-completed from the user email-->
                                {{ contact_form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="text-form">
                            <!--The user will complete their message in the body field-->
                            {{ contact_form.body|as_crispy_field }}
                        </div>
                        <button type="submit" class="btn advert-button mt-3 mb-3">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pl-5">
        {% include 'includes/lessons_advert_three.html' %}
        {% include 'includes/workshops_advert_three.html' %}
        </div>
    </div>
</section>
<div class="footer-background-color w-100">
    {% endblock %}