{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row w-100">
    <div class="col-6"></div>
    <div class="col-sm-6 col-12">
        <div class="row spacer"></div>
        <div class="width-define">
            <div class="row background-overlay mx-3 my-3 ml-5">
                <h1 class="cover-heading inline mt-5 mr-5 text-sm-right text-center">Belle Musique Studio</h1>
                <p class="lead mr-5 text-sm-right text-center">Everyone Deserves Music</p>
                <div class="lead mr-5 text-sm-right text-center">
                    <a href="{% url 'about' %}" class="btn index-button">About</a>
                </div>
                <div class="lead mr-5 text-sm-right text-center">
                    <a href="#" class="btn index-button">Lessons</a>
                </div>
                <div class="lead mr-5 text-sm-right text-center">
                    <a href="#" class="btn index-button">Workshops</a>
                </div>
                <div class="lead mb-2 mr-5 text-sm-right text-center">
                    <a href="{% url 'music_store' %}" class="btn index-button">Music Store</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}