{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <div class="row spacer"></div>
        <div class="width-define">
            <div class="row background-overlay">
                <h1 class="cover-heading inline mt-2 mr-5 text-right">Belle Musique Studio</h1>
                <p class="lead mr-5 text-right">Everyone Deserves Music</p>
                <div class="lead mr-5 text-right">
                    <a href="{% url 'about' %}" class="btn index-button">About</a>
                </div>
                <div class="lead mr-5 text-right">
                    <a href="#" class="btn index-button">Lessons</a>
                </div>
                <div class="lead mr-5 text-right">
                    <a href="#" class="btn index-button">Workshops</a>
                </div>
                <div class="lead mb-2 mr-5 text-right">
                    <a href="{% url 'products' %}" class="btn index-button">Music Store</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}