<div class="row advert-topper d-flex w-100 mx-auto">
    <h2 class="cover-heading inline pt-5 text-center">Shop Now</h2>
    <div class="col-sm-4 col-12">
        <div class="advert-background mx-sm-5 mx-2 my-sm-5 my-2 pb-2">

            <div class="d-flex justify-content-center ">
                <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image" alt="a selection of instruments adn recording equipment in a home" aria-label="a selection of instruments adn recording equipment in a home" src="/media/all-products.jpg">
            </div>
            <div class="about mx-sm-5 mx-2 my-sm-5 my-2">
                <h3 class="cover-heading inline pt-5 text-center">All Products</h3>
                <div class="lead mx-3 my-3 p-3 text-center">
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="btn advert-button"><i class="fas fa-chevron-down"></i></a>
                </div>

            </div>

        </div>
    </div>
    <div class="col-sm-4 col-12">
        <div class="advert-background mx-sm-5 mx-2 my-sm-5 my-2 pb-2">

            <div class="d-flex justify-content-center ">
                <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image" alt="a metronome and sheet music" aria-label="a metronome and sheet music" src="/media/musical-tools.jpg">
            </div>
            <div class="about mx-sm-5 mx-2 my-sm-5 my-2">
                <h3 class="cover-heading inline pt-5 text-center">Musical Tools</h3>
                <div class="lead mx-3 my-3 p-3 text-center">
                    <a href="{% url 'products' %}?category=musical_tools" class="btn advert-button"><i class="fas fa-chevron-down"></i></a>
                </div>

            </div>

        </div>
    </div>
    <div class="col-sm-4 col-12">
        <div class="advert-background mx-sm-5 mx-2 my-sm-5 my-2 pb-2">

            <div class="d-flex justify-content-center ">
                <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image" alt="a keyboard" aria-label="a keyboard" src="/media/instruments-equipment.jpg">
            </div>
            <div class="about mx-sm-5 mx-2 my-sm-5 my-2">
                <h3 class="cover-heading inline pt-5 text-center smaller-text">Instruments & Equipment</h3>
                <div class="lead mx-3 my-3 p-3 text-center">
                    <a href="{% url 'products' %}?category=instruments_equipment" class="btn advert-button"><i class="fas fa-chevron-down"></i></a>
                </div>

            </div>

        </div>
    </div>
</div>