{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block page_header %}
{% include "includes/advert_header.html" with advert="Create multiple student profiles when you sign up for a family lesson plan" %}
{% endblock %}
{% block content %}
{% load bag_tools %}
{% include "includes/cover.html" %}
</div>
<section class="bg-white">
   <div class="container mb-3 pb-5 content-height">
      <div class="row pt-3 pb-3 mt-5">
         <div class="col text-center mt-3">
            <hr class="w-50 mx-auto small-width-heading">
            <h2 class="logo-font mt-5 mb-5"> Profile</h2>
            <hr class="w-50 mx-auto small-width-heading">
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-6">
             <p class="text-muted">Default Information</p>
             <form class="mt-3 smallest-text" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                 {% csrf_token %}
                 {{ form|crispy }}
                 <button class="btn advert-button text-uppercase float-right mb-5">Update Information</button>
             </form>
         </div>
         <div class="col-12 col-lg-6">
            <p class="text-muted">Active Subscriptions</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th class="small font-weight-bold">Sub. ID</th>
                            <th class="small font-weight-bold">Subscription</th>
                            <th class="small font-weight-bold">Student</th>
                            <th class="small font-weight-bold">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscription in subscription_items %}
                            <tr>
                                <td>
                                    <a href="{% url 'subscription_detail' subscription.subscribed_id %}"
                                    title="{{ subscription.subscription_name }}" class="small">
                                        {{ subscription.subscribed_id|truncatechars:6 }}
                                    </a>
                                </td>
                                <td class="small">{{ subscription.subscription_name|truncatewords:7 }}</td>
                                <td class="small">{{ subscription.student }}</td>
                                <td class="small">{{ subscription.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="text-muted mt-5">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th class="small font-weight-bold">Order Number</th>
                            <th class="small font-weight-bold">Date</th>
                            <th class="small font-weight-bold">Items</th>
                            <th class="small font-weight-bold">Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}" class="small">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td class="small">{{ order.date }}</td>
                                <td class="small">
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {% if item.product.has_sizes %}
                                                    Size {{ item.product.size|upper }}
                                                {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="small">${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
     </div>
   </div>
</section>
<div class="footer-background-color">
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}