{% extends "base.html" %}
{% load static %}
{% block page_header %}
   {% include "includes/advert_header.html" with advert="Free delivery on orders over £" store="store" %}
{% endblock %}
{% block content %}
{% include "includes/cover.html" %}
</div>
<section class="bg-white">
    <div class="overlay"></div>
        <div class="container mb-2">
            <div class="row">
                <div class="col text-center mt-3">
                    <hr class="w-50 mx-auto small-width-heading">
                    <h2 class="logo-font mt-5 mb-5">Shopping Bag</h2>
                    <hr class="w-50 mx-auto small-width-heading">
                </div>
            </row>    
            <div class="row">
                <div class="col">
                    {% if bag_items %}
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
    
                                {% for item in bag_items %}
                                    <tr>
                                        <td class="p-3 w-25">
                                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                            <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">${{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3 w-25">
                                            <p class="my-0">{{ item.quantity }}</p>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">${{ item.product.price }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-right">
                                        <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if free_delivery_delta > 0 %}
                                            <p class="mb-1 text-danger">
                                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg mb-5">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <a href="" class="btn advert-button rounded-0 btn-lg mb-5">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <p class="lead mb-5">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
</section>
<div class="footer-background-color">
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}