{% extends "base.html" %}
{% load static %}
<!--Additional page title-->
<title>{{ block.super }}{% block extra_title %} Shopping Bag {% endblock %}</title>
{% block page_header %}
<!--Advert header customisation-->
{% include "includes/advert_header.html" with advert="Free delivery on orders over £" store="store" %}
{% endblock %}
{% block content %}
{% load bag_tools %}
<!--Link to Cover-->
{% include "includes/cover.html" %}
</div>
<!--Section includes details on the items in the shopping bag and allows the user to remove or update the items. The user can proceed to checkout.-->
<section class="bg-white">
    <div class="container mb-3 pb-5 content-height">
        <div class="row pt-3 pb-3 mt-5">
            <div class="col text-center mt-3">
                <hr class="w-50 mx-auto small-width-heading">
                <h3 class="logo-font mt-5 mb-5">Shopping Bag</h3>
                <hr class="w-50 mx-auto small-width-heading">
            </div>
            <div class="row">
                <div class="col ml-3 ml-sm-0 mt-3">
                    {% if bag_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "bag-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "checkout-buttons.html" %}
                                <p class="text-muted mb-5">A summary of your bag contents is below</p>
                            </div>
                        </div>
                        {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "product-image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "product-info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Price Each: ${{ item.product.price }}</p>
                                <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "quantity-form.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="btt-button shadow-sm border border-black">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "product-image.html" %}
                                </td>
                                <td class="py-3">
                                    {% include "product-info.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "quantity-form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-12 text-center bag-sm-height mt-5 mx-auto">
                        <div class="col m-0">
                            <img class="img-fluid mx-3 my-3 p-2 advert-image-small-round" alt="a selection of instruments adn recording equipment in a home" aria-label="a beautiful sunset" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/michal-ico-NmX8kzk5uNs-unsplash.jpg">
                            <p class="lead mb-5">Your bag is empty.</p>
                            <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-lg-5 mt-3">
                <!--The lesson advert, student showcase advert and store advert are rendered here-->
                <div class="col-sm-4 col-12 text-center">
                    <div class="col text-center mt-3 advert-text-small">
                        <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="a selection of instruments adn recording equipment in a home" aria-label="a selection of instruments adn recording equipment in a home" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/all-products.jpg">
                        <p class="smaller-text">Not yet finished? Head back to our store to shop.</p>
                        <div class="col mt-5 mt-sm-3 text-center">
                            <a href="{% url 'products' %}" class="btn advert-button mb-5 mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-12">
                    {% include 'includes/lessons_advert_four.html' %}
                </div>
                <div class="col-sm-4 col-12">
                    {% include 'includes/showcase_advert_four.html' %}
                </div>
            </div>
        </div>
</section>
<div class="footer-background-color">
    {% endblock %}
    {% block postloadjs %}
    {{ block.super }}
    <!--link to scripts-->
    {% include 'includes/quantity_input_script.html' %}
    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `shopping/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
                'product_size': size
            };

            $.post(url, data)
                .done(function() {
                    location.reload();
                });
        })
    </script>
    {% endblock %}