{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% include "includes/advert_header.html" with advert="Free delivery on orders over £" store="store" %}
{% endblock %}
{% block content %}
{% load bag_tools %}
{% include "includes/cover.html" %}
</div>
<section class="bg-white">
   <div class="container mb-3 pb-5 content-height">
      <div class="row pt-3 pb-3 mt-5">
         <div class="col text-center mt-3">
            <hr class="w-50 mx-auto small-width-heading">
            <h2 class="logo-font mt-5 mb-5">Shopping Bag</h2>
            <hr class="w-50 mx-auto small-width-heading">
         </div>
         <div class="row">
            <div class="col ml-3 ml-sm-0 mt-3">
               {% if bag_items %}
               <div class="table-responsive rounded">
                  <table class="table table-sm table-borderless">
                     <thead>
                        <tr>
                           <th scope="col"></th>
                           <th scope="col">Product</th>
                           <th scope="col">Price</th>
                           <th scope="col">Qty</th>
                           <th scope="col">Adjust</th>
                           <th scope="col">Subtotal</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for item in bag_items %}
                        <tr class="table-font">
                           <td class="p-3 p-sm-5 w-25">
                              <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.image_alt }}">
                           </td>
                           <td class="py-3 py-sm-5">
                              <p class="my-0 font-weight-bold">{{ item.product.name }}</p>
                              <p class="my-0">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                              <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                           </td>
                           <td class="py-3 py-sm-5">
                              <p class="my-0 font-weight-bold">£{{ item.product.price }}</p>
                           </td>
                           <td class="py-3 py-sm-5 w-25">
                              <p class="my-0 mx-3">{{ item.quantity }}</p>
                           </td>
                           <td class="py-3 py-sm-5 w-25">
                              <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                 {% csrf_token %}
                                 <div class="form-group">
                                    <div class="input-group">
                                       <div class="input-group-prepend">
                                          <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                             data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                          <span>
                                          <i class="fas fa-minus fa-sm"></i>
                                          </span>
                                          </button>
                                       </div>
                                       <input class="form-control form-control-sm qty_input" type="number"
                                          name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                          data-item_id="{{ item.item_id }}"
                                          id="id_qty_{{ item.item_id }}">
                                       <div class="input-group-append">
                                          <button class="increment-qty btn btn-sm btn-black rounded-0"
                                             data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                          <span>
                                          <i class="fas fa-plus fa-sm"></i>
                                          </span>
                                          </button>
                                       </div>
                                       {% if item.product.has_sizes %}
                                       <input type="hidden" name="product_size" value="{{ item.size }}">
                                       {% endif %}
                                    </div>
                                 </div>
                              </form>
                              <a class="update-link text-info"><small>Update</small></a>
                              <a class="remove-item text-danger float-sm-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                           </td>
                           <td class="py-3">
                              <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <div class="row">
                  <div class="col-12 mt-5">
                     <div class="col mb-5 mr-sm-5 text-center text-sm-right">
                        <h6 class="my-3 font-weight-bold">Bag Total: £{{ total|floatformat:2 }}</h6>
                        <h6 class="my-3 font-weight-bold">Delivery: £{{ delivery|floatformat:2 }}</h6>
                        <h4 class="my-4 font-weight-bold">Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                        {% if free_delivery_delta > 0 %}
                        <p class="my-3 text-danger">
                           You could get free delivery by spending just £{{ free_delivery_delta }} more!
                        </p>
                        {% endif %}
                        <div class="col text-sm-right text-center">
                           <a href="{% url 'checkout' %}" class="btn advert-button my-5">
                           <span class="text-uppercase">Secure Checkout</span>
                           <span class="icon">
                           <i class="fas fa-lock"></i>
                           </span>
                           </a>
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="mobile-only">
                  <hr>
               </div>
            </div>
            {% else %}
            <div class="col-12 text-center bag-sm-height mt-5">
               <div class="col m-0">
                  <p class="smaller-text">Your bag is empty.</p>
                  <img class="img-fluid mx-3 my-3 p-2 advert-image-small-round" alt="a selection of instruments adn recording equipment in a home" aria-label="a selection of instruments adn recording equipment in a home" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/all-products.jpg">
               </div>
               <div class="col mt-3 mt-sm-2">
                  <a href="{% url 'products' %}" class="btn advert-button my-5">
                  <span class="icon">
                  <i class="fas fa-chevron-left"></i>
                  </span>
                  <span class="text-uppercase">Keep Shopping</span>
                  </a>
               </div>
               <div class="mobile-only">
                  <hr>
               </div>
            </div>
            {% endif %}
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 col-12 text-center mt-3">
               <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="a selection of instruments adn recording equipment in a home" aria-label="a selection of instruments adn recording equipment in a home" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/all-products.jpg">
               <p class="smaller-text">Not yet finished? Head back to our store.</p>
            <div class="col mt-5 mt-sm-3 text-center">
               <a href="{% url 'products' %}" class="btn advert-button mb-5 mt-2">
               <span class="icon">
               <i class="fas fa-chevron-left"></i>
               </span>
               <span class="text-uppercase">Keep Shopping</span>
               </a>
            </div>
         </div>
         <div class="col-sm-4 col-12">
           {% include 'includes/lessons_advert_four.html' %}
         </div>
         <div class="col-sm-4 col-12">
           {% include 'includes/showcase_advert_four.html' %}
         </div>
      </div>
   </div>
</section>
<div class="footer-background-color">
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
<script>
   // Update quantity on click
   $('.update-link').click(function(e) {
       var form = $(this).prev('.update-form');
       form.submit();
   })
   
   // Remove item and reload on click
   $('.remove-item').click(function(e) {
       var csrfToken = "{{ csrf_token }}";
       var itemId = $(this).attr('id').split('remove_')[1];
       var size = $(this).data('product_size');
       var url = `shopping/remove/${itemId}/`;
       var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
   
       $.post(url, data)
        .done(function() {
            location.reload();
        });
   })
</script>
{% endblock %}