<!--Basic code from Bootstrap and fully adapted for site-->
<div class="{% if 'product_manage' in cover.page %}cover-container-product-man d-flex w-100 p-3 mx-auto flex-column {% endif %} {% if 'lessons' in cover.page %} cover-container d-flex w-100 p-3 mx-auto flex-column {% endif %}
{% if 'bag' in cover.page %} cover-container-bag d-flex w-100 p-3 mx-auto flex-column {% endif %}{% if 'music_store' in cover.page %} cover-container-music-store d-flex w-100 p-3 mx-auto flex-column {% endif %}
{% if 'home' in cover.page %}cover-container-home d-flex w-100 p-3 mx-auto flex-column{% endif %}{% if 'student_comm' in cover.page %} cover-container-student-comm d-flex w-100 p-3 mx-auto flex-column {% endif %}
{% if 'about' in cover.page %} cover-container-about d-flex w-100 p-3 mx-auto flex-column {% endif %} {% if 'contact' in cover.page %} cover-container-contact d-flex w-100 p-3 mx-auto flex-column {% endif %}
{% if 'account_profile' in cover.page %} cover-container-profile d-flex w-100 p-3 mx-auto flex-column {% endif %}{% if 'checkout' in cover.page %} cover-container-checkout d-flex w-100 p-3 mx-auto flex-column {% endif %}" title="Piano Player taking piano lessons">
    <section role="main" class="inner cover">
        <div class="row w-100">
            <div class="col-6"></div>
            <div class="col-sm-6 col-12 ml-sm-0 ml-3 mt-lg-0">
                <div class="row spacer-one"></div>
                <div class="row spacer"></div>
                <div class="width-define">
                    <div class="row background-overlay {% if 'product_manage' in cover.page %} mx-auto ml-sm-0 mx-sm-3 my-sm-3{% else %} mx-auto ml-5 mr-0 mx-sm-3 my-sm-3  {% endif %}">
                        <!--Slightly different code utilised for the product manage cover-->
                        <h1 class="cover-heading inline  {% if 'product_manage' in cover.page %} mx-auto  mt-sm-5 mr-sm-5 text-sm-right text-center{% else %} mt-5 mr-5 text-sm-right text-center {% endif %}">
                            <!--If statement to determine if there is a cover in the Cover model or not. If not the default details below will be used.-->
                            {% if 'placeholder' in name %}Belle Musique Studio {% else %} {{ cover.name }} {% endif %}
                        </h1>
                        <h2 class="lead mr-5 text-sm-right text-center"> {% if 'placeholder' in quote %}Online lessons and music store{% else %} {{ cover.quote}} {% endif %}</h2>
                        {% if "home" in cover.page %}
                        <!--The below menu will only render on the home page-->
                        <div class="lead mr-5 text-sm-right text-center">
                            <a href="{% url 'about' %}" class="btn index-button">About</a>
                        </div>
                        <div class="lead mr-5 text-sm-right text-center">
                            <a href="{% url 'lessons' %}" class="btn index-button">Lessons</a>
                        </div>
                        <div class="lead mb-2 mr-5 text-sm-right text-center">
                            <a href="{% url 'music_store' %}" class="btn index-button">Music Store</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>