<!--The lessons advert - large descriptor section which is rendered on the about page-->
<div class="advert-topper mx-sm-5 mx-2 my-sm-5 my-2 pb-2">
    <h2 class="cover-heading inline pt-5 text-center">Lessons</h2>
    <div class="d-flex justify-content-center ">
        <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image" alt="An image of a girl playing the piano" aria-label="An image of a girl playing the piano" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/lessons-advert.jpg">
    </div>
    <div class="about mx-sm-5 mx-2 my-sm-5 my-2">
        <p class="mx-3 my-3 pt-2">
            Individual piano and vocal classes are given in 30 minutes timeslots on a weekly basis. 45 minute
            classes are also available.
        </p>
        <p class="mx-3 my-3 pt-2">The rates per lesson are as follows:</p>
        <ul class="mr-5">
            <li class="font-weight-bold">30 minutes - £ 25.00</li>
            <li class="font-weight-bold">45 minutes - £ 37.50</li>
        </ul>
        <p class="mx-3 my-3 pt-2">The rates per month are as follows:</p>
        <ul class="mr-5">
            <li class="font-weight-bold">30 minutes - £ 100.00</li>
            <li class="font-weight-bold">45 minutes - £ 150.00</li>
        </ul>
        <p class="mx-3 my-3 pt-2">Specials:</p>
        <ul class="mr-5">
            <li class="font-weight-bold">Take out an annual subscription and receive one free lesson!</li>
        </ul>
        <div class="lead mx-3 my-3">
            <a href="{% url 'lessons' %}" class="btn advert-button text-uppercase">
                <span>Subscribe Now</span>
            </a>
        </div>
    </div>
</div>