        
        <div class="col-sm-3 col-12 order-sm-12 pt-5">
            <div class="d-flex justify-content-center ">
                <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image-two" alt="An image of a girl singing on stage" aria-label="An image of a girl singing on stage" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/worship-advert.jpg">
            </div>
        </div>
        <div class="col-sm-3 col-12 order-sm-1">
            <h2 class="cover-heading inline pt-5 text-center smaller-text">Student of the Week</h2>
            <ul class="mx-3 my-3 pt-3 pl-2 smaller-text text-center">
                <li>Check out the Student of the week!</li>
            </ul>
            <div class="lead mx-3 mt-5 mb-5 text-center">
                <a href="#" class="btn advert-button text-uppercase">
                        <span>Look Now</span>
                </a>
            </div>
        </div>
