<!--The showcase advert - renders a small advert to encourage users to view the showcased students-->
<article>
    <div class="col-12 order-sm-12 pt-5 advert-text-small">
        <div class="d-flex justify-content-center ">
            <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image-two" alt="An image of a girl singing on stage at her singing lesson" aria-label="An image of a girl singing on stage" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/student-lesson-showcase.jpg">
        </div>
    </div>
    <div class="col-12 order-sm-1 advert-text-small">
        <h3 class="cover-heading inline pt-5 text-center smaller-text">Require individuals with <strong>Songwriting</strong> talent?</h3>
        <ul class="mx-3 my-3 pt-3 pl-2 smaller-text text-center">
            <li>Check out our Students!</li>
        </ul>
        <div class="lead mx-3 mt-5 mb-5 text-center">
            <a href="{% url 'about' %}" class="btn advert-button text-uppercase">
                <span>Look Now</span>
            </a>
        </div>
    </div>
</article>