        
        <div class="col-sm-3 col-12">
            <div class="d-flex justify-content-center ">
                <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image-two" alt="An image of a girl singing on stage" aria-label="An image of a girl singing on stage" src="/media/worship-advert.jpg">
            </div>
        </div>
        <div class="col-sm-3 col-12">
            <h2 class="cover-heading inline pt-5 text-center smaller-text">Upcoming Workshops</h2>
            <ul class="text-center mx-3 my-3 pt-3 smaller-text">
                <li>March 2022 dates available!</li>
            </ul>
            <div class="lead mx-3 my-3 p-3 text-center">
                <a href="#" class="btn advert-button">
                        <h6>Book Now</h6>
                </a>
            </div>
        </div>
