    <div class="col-sm-6 col-12">
        <div class="advert-topper mx-sm-5 mx-2 my-sm-5 my-2 pb-2">
            <h2 class="cover-heading inline pt-5 text-center">Workshops</h2>
            <div class="d-flex justify-content-center ">
                <img class="img-fluid mx-sm-5 mx-2 my-sm-5 my-2 p-2 advert-image" alt="An image of a girl singing on stage" aria-label="An image of a girl singing on stage" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/worship-advert.jpg">
            </div>
            <div class="about mx-sm-5 mx-2 my-sm-5 my-2 pb-2">
                <p class="mx-3 my-3 pt-3 pb-2">
                    The costs of training of local church musicians - whether lecturing and running courses, or
                    conducting
                    Vocal Classes over a 6 - 8 week period is dependant on the number of individuals involved.
                </p>
                <p class="mx-3 my-3 pt-3 pb-3">Alternatively book to attend a 6 week group worship workshop:</p>
                <ul class="mr-5 mb-4">
                    <li class="font-weight-bold">March 2022 dates available!</li>
                    <li class="font-weight-bold">Pay per individual</li>
                    <li class="font-weight-bold">Receive a group discount</li>
                </ul>
                <div class="lead mx-3 my-3">
                    <a href="#" class="btn advert-button text-uppercase">
                        <span>Attend a Workshop</span>
                    </a>
                </div>

            </div>

        </div>
    </div>