@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Condensed&family=The+Nautigal:wght@700&display=swap');

/* Styling used across the site */
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    color: #04142f;
    font-family: "EB Garamond", sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Navbar*/

.logo {
    font-family: "The Nautigal", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #04142f;
    margin-left: 10px;
}

.navbar {
    background-color: #ffffff;
}

.navbar-collapse {
    width: 50%;
}


.music-note {
    color: #04142f;
    font-size: 1.5rem;
}

.store-logo {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    align-content: flex-end;
    vertical-align: middle;
    font-size: 1.5rem;
    width: 80%
}

.icon {
    color: #04142f;
    text-align: center;
}

.nav-drop-back {
    background-color: transparent;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-menu a:hover {
    background-color: #fbac2c;
}

ul {
    list-style-type: none;
}

.nav-item {
    font-size: 1.5rem;
}

a {
    color: #04142f;
    text-decoration: none;
}

.emphasised-a {
    font-weight: bolder;
    color: rgba(109, 152, 171, 0.9);
}

a:hover {
    background-color: #fbac2c;
    color: #04142f;
    text-decoration: none;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #5c8ca1;
    padding: 0;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Navbar for small screens*/

.navbar-toggler:focus {
    border-color: #fbac2c;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fbac2c;
}

/* Bootstrap Cover Example */

/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    background: url("https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/home-background.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

.cover-heading {
    font-weight: 900;
}

.lead {
    font-weight: 800;
}

.index-button {
    background-color: transparent;
    border: none;
    color: #04142f;
    font-weight: 800;
}

.index-button:hover {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
    box-shadow: 5px 10px #04142f;
}

.index-button:active {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
}

.spacer {
    height: calc(40vh - 164px)
}

.width-define {
    display: flex;
    width: calc(120vh - 164px);
    align-items: flex-end;
}

.background-overlay {
    background-color: rgba(109, 152, 171, 0.9);
    border: 5px solid rgba(109, 152, 171, 0.5);
    border-radius: 15px;
}

/* Footer */

.footer-background {
    color: #ffffff;
    font-family: "The Nautigal", sans-serif;
}

.footer-background-color {
    background-color: #04142f;
}

.social-links {
    color: #ffffff;
}

.social-links:hover {
    color: #fbac2c;
}


/* Advert Banner */

.advert-banner-background {
    background-color: #04142f;
}

/* About */

.owner-image {
    border: #04142f 2px solid;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.about {
    font-size: 1.2rem;
}

/* Adverts */

.advert-background {
    background-color: #5c8ca1;
}

.advert-topper {
    background-color: #ffffff;
}

.advert-image {
    border: #04142f 2px solid;
    width: 250px;
    height: 250px;
}

.advert-image-small-round {
    border: #04142f 2px solid;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.advert-button {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
    font-weight: 800;
}

.advert-button:hover {
    border: #04142f;
    box-shadow: 5px 10px #04142f;
}

/* Contact Us */

.text-form {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
}

.text-form input,
.text-form textarea {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
}

[type="file"] {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 10px;
}

/* Music Store Adverts and Pages */

.return {
    margin-left: 15px;
}

.smaller-text {
    font-size: calc(0.6rem + .9vw) !important;

}

.advert-image-two {
    border: #04142f 2px solid;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

#new-image {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-white {
    color: #ffffff;
}

/* Media query to center logo for small screens */

@media (max-width: 1500px) {

    .navbar-brand {
        width: 100%;
        text-align: center;
    }

    .store-logo {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        align-content: flex-start;
        vertical-align: middle;
        font-size: 1.5rem;
    }

    .spacer {
        display: none;
    }

    .width-define {
        display: flex;
        width: auto;
        align-items: flex-end;
    }

    .text-form {
        font-size: 0.8rem;
    }

    .text-form input,
    .text-form textarea {
        font-size: 0.8rem;
        max-width: 250px;
    }
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Shopping Bag Styling */

.table-font {
    color: #04142f;
    font-family: "Roboto Condensed", sans-serif;
    font-size: calc(1rem + .9vw) !important;
}


.content-height {
    height: fit-content;
}

.bag-border {
    border: 2px solid lightgray;
    border-radius: 5px;
}

.mobile-only {
    display: none;
}

/* Lessons Page */

.lessons-image {
    border: #04142f 2px solid;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/* Media query to center logo for small screens */

@media (max-width: 800px) {

    .smaller-font {
        font-size: calc(1rem + .9vw) !important;

    }

    .detail-image {
        width: 70%;
        height: 70%;
    }


    .smaller-text {
        font-size: calc(1rem + .9vw) !important;
    }

    .cover-container {
        height: initial;
    }

    .small-width-heading {
        width: 100% !important;
    }

    .advert-image-two {
        height: 150px;
        width: 150px;
    }

    .bag-border {
        border: none;
    }

    .mobile-only {
        display: unset;
    }
}


@media (max-height: 700px) {

    .smaller-font {
        font-size: calc(1rem + .9vw) !important;

    }

    .detail-image {
        width: 65%;
        height: 65%;
    }

}


@media (max-width: 285px) {

    .smaller-font {
        font-size: calc(0.8rem + .9vw) !important;

    }

    .detail-image {
        width: 60%;
        height: 60%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}

@media (max-height: 370px) {


    .image-short-height {
        padding: 0;
        margin: 0;
    }

    .smaller-font {
        font-size: calc(0.6rem + .9vw) !important;

    }

    .detail-image {
        width: 40%;
        height: 40%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}