@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=The+Nautigal:wght@700&display=swap");

/* Styling used across the site */
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    color: #04142f;
    font-family: "EB Garamond", sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Navbar*/

.logo {
    font-family: "The Nautigal", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #04142f;
    margin-left: 10px;
}

.navbar {
    background-color: #ffffff;
}

.navbar-collapse {
    width: 50%;
}


.music-note {
    color: #04142f;
    font-size: 1.5rem;
}

.store-logo {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    align-content: flex-end;
    vertical-align: middle;
    font-size: 1.5rem;
    width: 80%
}

.icon {
    color: #04142f;
    text-align: center;
}

.nav-drop-back {
    background-color: transparent;
}

ul {
    list-style-type: none;
}

.nav-item {
    font-size: 1.5rem;
}

a:hover {
    background-color: #fbac2c;
}

/* Navbar for small screens*/

.navbar-toggler:focus {
    border-color: #fbac2c;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fbac2c;
}

/* Bootstrap Cover Example */

/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    background: url("/media/home-background_Dxzgoem.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
}

.cover-heading {
    font-weight: 900;
}

.lead {
    font-weight: 800;
}

.index-button {
    background-color: transparent;
    border: none;
    color: #04142f;
    font-weight: 800;
}

.index-button:hover {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
    box-shadow: 5px 10px #04142f;
}

.index-button:active {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
}

.spacer {
    height: calc(40vh - 164px)
}

.width-define {
    display: flex;
    width: calc(120vh - 164px);
    align-items: flex-end;
}

.background-overlay {
    background-color: rgba(109, 152, 171, 0.9);
    border: 5px solid rgba(109, 152, 171, 0.5);
    border-radius: 15px;
}

/* Footer */

.footer-background {
    color: #ffffff;
    font-family: "The Nautigal", sans-serif;
}

.footer-background-color {
    background-color: #04142f;
}

.social-links {
    color: #ffffff;
}

.social-links:hover {
    color: #fbac2c;
}


/* Advert Banner */

.advert-banner-background {
    background-color: #04142f;
}

/* About */

.owner-image {
    border: #04142f 2px solid;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.about {
    font-size: 1.2rem;
}

/* Adverts */

.advert-background {
    background-color: #5c8ca1;
}

.advert-topper {
    background-color: #ffffff;
}

.advert-image {
    border: #04142f 2px solid;
    width: 250px;
    height: 250px;
}

.advert-button {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
    font-weight: 800;
}

.advert-button:hover {
    border: #04142f;
    box-shadow: 5px 10px #04142f;
}

/* Contact Us */


.text-form {
    font-size: 1.5rem;
    font-family: "EB Garamond", sans-serif;
}

.text-form input,
.text-form textarea {
    font-size: 1.5rem;
    font-family: "EB Garamond", sans-serif;
}

[type="file"] {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 10px;
}

/* Product Detail Page */

.return {
    margin-left: 15px;
}

/* Media query to center logo for small screens */

@media (max-width: 1500px) {

    .navbar-brand {
        width: 100%;
        text-align: center;
    }

    .store-logo {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        align-content: flex-start;
        vertical-align: middle;
        font-size: 1.5rem;
    }

    .spacer {
        display: none;
    }

    .width-define {
        display: flex;
        width: auto;
        align-items: flex-end;
    }

    .text-form {
        font-size: 1.2rem;
    }

    .text-form input,
    .text-form textarea {
        font-size: 1.2rem;
        max-width: 250px;
    }
}

/* Media query to center logo for small screens */

@media (max-width: 800px) {

    .smaller-font {
        font-size: calc(1rem + .9vw) !important;

    }

    .detail-image {
        width: 70%;
        height: 70%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}


@media (max-height: 700px) {

    .smaller-font {
        font-size: calc(1rem + .9vw) !important;

    }

    .detail-image {
        width: 65%;
        height: 65%;
    }

}


@media (max-width: 285px) {

    .smaller-font {
        font-size: calc(0.8rem + .9vw) !important;

    }

    .detail-image {
        width: 60%;
        height: 60%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}

@media (max-height: 370px) {


    .image-short-height {
        padding: 0;
        margin: 0;
    }

    .smaller-font {
        font-size: calc(0.6rem + .9vw) !important;

    }

    .detail-image {
        width: 40%;
        height: 40%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}