@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Condensed&family=The+Nautigal:wght@700&display=swap");

/* Styling used across the site */

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    color: #04142f;
    font-family: "EB Garamond", sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Navbar*/

.logo {
    font-family: "The Nautigal", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #04142f;
    margin-left: 10px;
}

.navbar {
    background-color: #ffffff;
}

.navbar-collapse {
    width: 50%;
}

.music-note {
    color: #04142f;
    font-size: 1.5rem;
}

.shopping-logos {
    display: flex;
    width: 90%;
}

.store-logo {
    font-size: 1.5rem;
}

.lesson-logo {
    font-size: 1.5rem;
}

.icon {
    color: #04142f;
    text-align: center;
}

.nav-drop-back {
    background-color: transparent;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-menu a:hover {
    background-color: #fbac2c;
}

ul {
    list-style-type: none;
}

.nav-item {
    font-size: 1.5rem;
}

a {
    color: #04142f;
    text-decoration: none;
}

.emphasised-a {
    font-weight: bolder;
    color: rgba(109, 152, 171, 0.9);
}

a:hover {
    background-color: #fbac2c;
    color: #04142f;
    text-decoration: none;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #5c8ca1;
    padding: 0;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Navbar for small screens*/

.navbar-toggler:focus {
    border-color: #fbac2c;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fbac2c;
}

/* Bootstrap Cover Example */

/* Base structure*/

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container-about,
.cover-container-contact,
.cover-container-profile,
.cover-container,
.cover-container-bag,
.cover-container-checkout,
.cover-container-music-store {
    background: url("https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/piano-player-music-lesson.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 120px;
    background-color: #ffffff;
}


.cover-container-home {
    background: url("https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/piano-player-music-lesson.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 153px;
}

.cover-container-product-man,
.cover-container-student-comm {
    background: url("https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/piano-player-music-lesson.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 150px;
}


.cover-heading {
    font-weight: 900;
}

.lead {
    font-weight: 800;
}

.index-button {
    background-color: transparent;
    border: none;
    color: #04142f;
    font-weight: 800;
}

.index-button:hover {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
    box-shadow: 5px 10px #04142f;
}

.index-button:active {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
}


.spacer-one {
    height: calc(40vh - 164px)
}

.width-define {
    display: flex;
    width: calc(120vh - 164px);
    align-items: flex-end;
}

.background-overlay {
    background-color: rgba(109, 152, 171, 0.9);
    border: 5px solid rgba(109, 152, 171, 0.5);
    border-radius: 15px;
}

/* Footer */

.footer-background {
    color: #ffffff;
    font-family: "The Nautigal", sans-serif;
}

.footer-background-color {
    background-color: #04142f;
}

.social-links {
    color: #ffffff;
}

.social-links:hover {
    color: #fbac2c;
}

.footer-font {
    font-family: "EB Garamond", sans-serif;
}

/* Advert Banner */

.advert-banner-background {
    background-color: #04142f;
}

/* About */

.owner-image {
    border: #04142f 2px solid;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.about {
    font-size: 1.2rem;
}

.iframe-container {
    height: 260px;
}

.iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

/* Adverts */

.advert-background {
    background-color: #5c8ca1;
}

.advert-topper {
    background-color: #ffffff;
}

.advert-image {
    border: #04142f 2px solid;
    width: 250px;
    height: 250px;
}

.advert-image-small-round {
    border: #04142f 2px solid;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.advert-button {
    background-color: #fbac2c;
    border: #fbac2c;
    color: #04142f;
}

.advert-button:hover {
    border: #04142f;
    box-shadow: 5px 10px #04142f;
}

.advert-image-two {
    border: #04142f 2px solid;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/* Contact Us */

.text-form {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
}

.text-form input,
.text-form textarea {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
}

[type="file"] {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 10px;
}

/* Music Store Adverts and Pages */

.return {
    margin-left: 15px;
}

.smaller-text {
    font-size: calc(0.6rem + .9vw) !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
    border-radius: 5%;
}

#new-image {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-white {
    color: #ffffff;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Shopping Bag Styling */

.table-font {
    color: #04142f;
    font-family: "Roboto Condensed", sans-serif;
    font-size: calc(1rem + .9vw) !important;
}

.content-height {
    height: fit-content;
}

.bag-border {
    border: 2px solid lightgray;
    border-radius: 5px;
}

.mobile-only {
    display: none;
}

/* Media queries */

@media (max-width: 1500px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
    }


    .store-logo {
        font-size: 1.5rem;
    }

    .lesson-logo {
        font-size: 1.5rem;
    }


    .spacer-one {
        display: none;
    }

    .width-define {
        display: flex;
        width: auto;
        align-items: flex-end;
    }

    .text-form {
        font-size: 0.8rem;
    }

    .text-form input,
    .text-form textarea {
        font-size: 0.8rem;
        max-width: 250px;
    }

    .smaller-text-edit {
        font-size: calc(0.3rem + .9vw) !important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }


    .nav-link {
        padding: 0.15rem;
    }

    .nav-item {
        font-size: calc(1rem + .9vw) !important;
    }

    .icon {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .my-0.icon {
        font-size: .9rem;
    }

    .btn.btn-outline-black {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.btn-lg,
    .btn.advert-button.text-uppercase.mb-3 {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .advert-text-small {
        font-size: calc(1rem + .9vw) !important;
    }
}

@media (max-width: 800px) {

    .message-container {

        right: 5px;
    }


    .smaller-font {
        font-size: calc(1rem + .9vw) !important;
    }

    .advert-button {
        font-size: calc(0.8rem + .9vw) !important;
    }

    .detail-image {
        width: 70%;
        height: 70%;
    }

    .smaller-text {
        font-size: calc(1rem + .9vw) !important;
    }

    .cover-container-music-store,
    .cover-container-bag,
    .cover-container-checkout {
        margin-top: 112px;
    }


    .cover-container,
    .cover-container-about,
    .cover-container-contact,
    .cover-container-profile {
        margin-top: 95px;
    }


    .cover-container-product-man {
        margin-top: 130px;
    }

    .cover-container-student-comm,
    .cover-container-home {
        margin-top: 136px;
    }


    .small-width-heading {
        width: 100% !important;
    }

    .advert-image-two {
        height: 150px;
        width: 150px;
    }


    .bag-border {
        border: none;
    }

    .bag-image {
        max-width: 60%;
    }

    .lesson-image-small {
        max-width: 60%;
    }

    .lesson-smallest {
        font-size: calc(0.7rem + .9vw) !important;
    }

    .mobile-only {
        display: unset;
    }

    .spacer-one {
        display: initial;
    }

}

@media (max-height: 700px) {
    .smaller-font {
        font-size: calc(1rem + .9vw) !important;
    }

    .detail-image {
        width: 65%;
        height: 65%;
    }

    .smaller-text {
        font-size: calc(0.6rem + .9vw) !important;
    }

    .advert-button {
        font-size: calc(0.5rem + .9vw) !important;
        padding: 3px;
    }

    .btn-outline-black {
        font-size: calc(0.5rem + .9vw) !important;
        padding: 3px;
    }
}

@media (max-width: 450px) {

    .shopping-logos {
        width: 0;
    }

    .smaller-text {
        font-size: calc(1rem + .9vw) !important;
    }

    .smaller-text-edit {
        font-size: calc(0.7rem + .9vw) !important;
    }
}

@media (max-width: 285px) {
    .smaller-font {
        font-size: calc(0.8rem + .9vw) !important;
    }

    .detail-image {
        width: 60%;
        height: 60%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}

@media (max-height: 370px) {
    .image-short-height {
        padding: 0;
        margin: 0;
    }

    .smaller-font {
        font-size: calc(0.6rem + .9vw) !important;
    }

    .detail-image {
        width: 40%;
        height: 40%;
    }

    .overflow-allowed {
        overflow: scroll;
    }
}