<!--The lesson advert-->
<article>
    <div class="col text-center mt-3 advert-text-small">
        <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="An image of a girl playing the piano" aria-label="An image of a girl playing the piano at her piano lesson" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/music-lessons-advert.jpg">
        <p class="smaller-text">Check out our <strong>online piano lessons</strong> today!</p>
        <div class="col mt-3 mt-sm-0 text-center">
            <a href="{% url 'lessons' %}" class="btn advert-button mb-5 mt-2" rel="sponsored">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Music Lessons</span>
            </a>
        </div>
    </div>
</article>