<!--The lesson advert-->
<div class="col text-center mt-3">
   <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="An image of a girl playing the piano" aria-label="An image of a girl playing the piano" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/lessons-advert.jpg">
   <p class="smaller-text">Check out all the lessons that you could subscribe to!</p>
   <div class="col mt-3 mt-sm-0 text-center">
      <a href="{% url 'lessons' %}" class="btn advert-button mb-5 mt-2">
      <span class="icon">
      <i class="fas fa-chevron-left"></i>
      </span>
      <span class="text-uppercase">Click Here</span>
      </a>
   </div>
</div>