<!--The showcase advert-->
<article>
    <div class="col text-center mt-3 advert-text-small">
        <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="An image of a girl singing on stage at her singing lesson" aria-label="An image of a girl singing on stage at her singing lesson" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/student-lesson-showcase.jpg">
        <p class="smaller-text"><strong>Learn to play the piano</strong> like our students!</p>
        <div class="col mt-3 mt-sm-0 text-center">
            <a href="{% url 'about' %}" class="btn advert-button mb-5 mt-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Music Students</span>
            </a>
        </div>
    </div>
</article>