<article>
    <div class="col text-center mt-3">
        <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="a selection of instruments adn recording equipment in a home" aria-label="a selection of instruments adn recording equipment in a home" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/all-products.jpg">
        <p class="smaller-text">Now check out the latest deals at our <strong>Music Store!</strong></p>
        <div class="col mt-3 mt-sm-0 text-center">
            <a href="{% url 'products' %}" class="btn advert-button mb-5 mt-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Music Shop</span>
            </a>
        </div>
    </div>
</article>