    <div class="col text-center">
       <img class="img-fluid mx-2 my-2 p-2 advert-image-small-round" alt="An image of a girl singing on stage" aria-label="An image of a girl singing on stage" src="https://belle-musique-studio.s3.eu-west-2.amazonaws.com/media/worship-advert.jpg">
       <p class="smaller-text">Part of a church worship team? Attend a worship workshop!</p>
    </div>
    <div class="col mt-3 mt-sm-0 text-center">
       <a href="#" class="btn advert-button mb-5 mt-2">
       <span class="icon">
       <i class="fas fa-chevron-left"></i>
       </span>
       <span class="text-uppercase">Click Here</span>
       </a>
    </div>