<!-- Footer -->
<footer class="footer mt-auto py-3 footer-background w-100">
    <!-- Social Media Links -->
    <p class="m-0 text-center">Follow us:
       <a class="social-links" href="https://www.facebook.com" target="_blank" aria-label="Link to Facebook"><i class="fab fa-facebook-square ms-3"></i></a>
       <a class="social-links" href="https://www.twitter.com" target="_blank" aria-label="Link to Twitter"><i class="fab fa-twitter-square ms-3"></i></a>
       <a class="social-links" href="https://www.instagram.com" target="_blank" aria-label="Link to Instagram"><i class="fab fa-instagram-square ms-3"></i></a>
    </p>
    <h3 class="m-0 text-center design-logo">DesignedBy@ClairePotter2022</h3>
 </footer>
 </div>