<!-- Footer -->
<footer class="{% if 'home' in cover.page %}footer  py-3 footer-background w-50 mx-auto {% else %} footer  py-3 footer-background w-100 {% endif %} ">
    <!-- Social Media Links -->
    <p class="m-0 text-center footer-font">Follow us:
        <a class="social-links" href="https://www.facebook.com/bellemusiquestudio" target="_blank" aria-label="Link to Facebook" rel="sponsored"><i class="fab fa-facebook-square ms-3"></i></a>
        <a class="social-links" href="https://www.twitter.com" target="_blank" aria-label="Link to Twitter" rel="nofollow"><i class="fab fa-twitter-square ms-3"></i></a>
        <a class="social-links" href="https://www.instagram.com" target="_blank" aria-label="Link to Instagram" rel="nofollow"><i class="fab fa-instagram-square ms-3"></i></a>
    </p>

    <!-- Privacy Notice and News Letter -->
    <div class="row">
        <div class="col-6 m-0 footer-font">
            <a class="social-links pl-3" href=" {% url 'newsletter' %}" rel="ugc">SignUp4News</a>
        </div>

        <div class="col-6 m-0 footer-font text-right">
            <a class="social-links pr-3 " href="{% url 'privacy' %}" target="_blank" rel="ugc">PrivacyPol.</a>
        </div>
    </div>
    <h3 class="m-0 text-center design-logo footer-logo">ClairePotter@2022</h3>
</footer>