<!-- Footer -->
<footer class="footer mt-auto py-3 footer-background w-100">
    <!-- Social Media Links -->
    <p class="m-0 text-center footer-font small">Follow us:
        <a class="social-links" href="https://www.facebook.com/bellemusiquestudio" target="_blank" aria-label="Link to Facebook"><i class="fab fa-facebook-square ms-3"></i></a>
        <a class="social-links" href="https://www.twitter.com" target="_blank" aria-label="Link to Twitter" rel="noopener"><i class="fab fa-twitter-square ms-3"></i></a>
        <a class="social-links" href="https://www.instagram.com" target="_blank" aria-label="Link to Instagram" rel="noopener"><i class="fab fa-instagram-square ms-3"></i></a>
    </p>

    <!-- Social Media Links -->
    <p class="m-0 text-center footer-font small"><a class="social-links" href="{% url 'privacy' %}" target="_blank" aria-label="Link to Privacy Policy">Privacy Policy</a>
    </p>
    <br>
    <h3 class="m-0 text-center design-logo">DesignedBy@ClairePotter2022</h3>
</footer>
</div>