{% extends "base.html" %}
{% load static %}
{% block page_header %}
   {% include "includes/advert_header.html" with advert="Free song writing lesson for monthly subscribers!" %}
{% endblock %}
{% block content %}
{% include "includes/cover.html" with name="placeholder" quote="placeholder" %}
</div>
<section>
<div class="row bg-white d-flex w-100 h-100 mx-auto">
    <div class="col-sm-6 col-12 p-3 smaller-text mx-auto">
            {% block content_two %}
            {% endblock %}
    </div>
</div>
</section>
<div class="footer-background-color">
{% endblock %}
