{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content_two %}
<hr>
<h2 class="text-center mx-3 my-3">{% trans "Change Password" %}</h2>
<hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn advert-button text-uppercase" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
