/* Stripe element styling from "Boutique Ado" project */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

/* Checkout form styling */

#payment-form .form-control,
#card-element {
    color: #04142f;
    border: 1px solid #000;
}

select,
select option {
    color: #04142f;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.7rem + 2px);
}

.smallest-text {
    font-size: calc(0.4rem + .9vw) !important;
}

.smallest-headings {
    font-size: calc(0.2rem + .9vw) !important;
}

.smallest-headings2 {
    font-size: calc(0.1rem + .9vw) !important;
}

/* Overlay styling from "Boutique Ado" project */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(109, 152, 171, 0.9);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Additional styling */

.btn-width {
    width: 40%;
}

.invoice-link {
    text-decoration: underline;
    font-weight: bolder;
}

.btn-outline-black-lessons {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
    border-radius: 5%;
    font-size: 1rem;
}

.btn-outline-black-lessons:hover,
.btn-outline-black-lessons:active,
.btn-outline-black-lessons:focus {
    background: black;
    color: white !important;
}


/* Media queries */

@media (max-width: 800px) {
    .smallest-text {
        font-size: calc(0.8rem + .9vw) !important;
    }

    .smallest-headings {
        font-size: calc(0.5rem + .9vw) !important;
    }

    .smallest-headings2 {
        font-size: calc(0.28rem + .9vw) !important;
    }
}