{% extends "base.html" %}
{% load static %}
{% block page_header %}
   {% include "includes/advert_header.html" with advert="Set up lesson subscriptions for more than one student and receive a recurring monthly discount" %}
{% endblock %}
{% block content %}
{% include "includes/cover.html" %}
</div>
<section>
    <div class="row advert-topper d-flex w-100 mx-auto">
        <div class="col-12">
            <div class="w-50 small-width-heading mx-auto">
             <hr>
             <h2 class="cover-heading inline pt-sm-3 pb-sm-3 text-center">Our Lessons</h2>
              <hr>
            </div>
        </div>
        <div class="row">
        <div class="col-12 col-sm-6 mx-auto mt-3">
            <p class="mx-3 my-3 pt-2 text-center">
                Individual piano, singing and songwriting lessons are given weekly. Take out a subscription to pay annually, monthly or weekly.
            </p>
            <hr>
        </div>
            <div class="container-fluid p-0">
                <div class="row bg-white w-100 m-0">
                    {% for lesson in lessons %}
                    <div class="col-12 col-sm-4 offset-lg-2">
                        <div class="image-container my-3 my-sm-5 text-center image-short-height">
                            {% if lesson.image_url %}
                            <a href="{{ lesson.image_url }}" target="_blank">
                                <img class="card-img-top img-fluid detail-image" src="{{ lesson.image_url }}" alt="{{ lesson.image_description }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid detail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ lesson.description }}">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 bg-white image-short-height">
                        <div class="lesson-details-container mb-sm-3 mt-md-5 smaller-font ml-3 ml-sm-0 image-short-height">
                            <p class="mb-0">{{ lesson.name }}</p>
                            <p class="mt-3  mb-3 smaller-text">{{ lesson.description }}</p>
                            <form class="form" action="{% url 'add_lesson' lesson.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="form-group w-50">
                                            <div class="input-group input-group-{{ lesson.id }} hidden">
                                                <input class="form-control qty_input id_qty_{{ lesson.id }}" type="number"
                                                    name="quantity" value="1" min="1" max="1"
                                                    data-lesson_id="{{ lesson.id }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col{% if s %}-12 mt-2{% endif %}">
                                        <input type="submit" class="btn btn advert-button text-uppercase mt-5 mb-5" value="Add to Lesson Bag">
                                    </div>
                                    <input type="hidden" name="redirect_lesson_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
            <div class="text-center">
                <hr>
                <a class="btn advert-button text-uppercase  mt-3 mb-3" aria-current="page" href="{% url 'subscriptions' %}"><h2>Subscriptions</h2></a>
                <a href="{% url 'home' %}" class="btn btn-outline-black mt-5 mb-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Return Home</span>
                </a>
                </div>
    </div> 
</section>
<section>
        {% include 'includes/store_advert.html' %}
</section>
<div class="footer-background-color">
{% endblock %}
