{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "includes/cover.html" %}
</div>
<section>
    <div class="container-fluid bg-white w-100">
        <div class="row mx-auto">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mx-auto">
                <div class="col-12 col-md-6 text-center mx-auto">
                    <hr>
                    <h2 class="font-weight-bold text-center mt-4 mb-4">Edit a Product</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
           <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mx-auto">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2 text-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black mb-3 text-uppercase" href="{% url 'products' %}">Cancel</a>
                        <button class="btn advert-button mb-3 text-uppercase" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</section>
<div class="footer-background-color w-100">
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}